@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

h3 {
  font-family: "Montserrat", sans-serif;
}

.flabel {
  font-family: "Montserrat", sans-serif;
}

.fpass {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  padding-top: 2%;
}

.fpass:hover {
  color: rgb(34, 34, 34);
}

button.subbtn.btn.btn-primary {
  border: 1px #f7d832 solid;
  background-color: #f7d832;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4caf50;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
